.F-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D57A66;
    padding: .5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    // text-align: center;
    h2{
        margin: 0;
        font-size: 1em;
        color: #FBF5F3;
        text-align: center;
        // border: 1px solid red;
    }
}