@import './Breakpoints.scss';

.H-wrapper{
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    background-color: #08415C;
    a{
        text-decoration: none;
        text-align: center;
        img{
            width: 10%;
            margin: 0;
            margin-top: 1em;
        }
        h1{
            margin: 0;
            font-size: 2.8em;
            color: #FBF5F3;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            @include media('<=phone'){
                font-size: 2em;
            }
        }
        small{
            font-size: 1.2em;
            color: #D57A66;
            font-weight: 700;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            @include media('<=phone'){
                font-size: 1em;
            }
        }
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #FBF5F3;
        font-weight: 600;
        font-size: .9em;
        @include media('<=phone'){
            font-size: .8em;
        }
    }
}