@import './Breakpoints.scss';

.M-wrapper{
    // border: 2px solid red;
    background-color: #08415C;
    @include media('<=phone'){
        // border: 2px solid red;
    }
    .M-top{
        // background-color: coral;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        @include media('<=phone'){
            // border: 2px solid red;
            flex-direction: column;
            padding: 0;
        }
        a{
            background-color: white;
            // box-shadow: -1px .6px 10px 6px #D57A66;
            transition: .2s linear;
            // border: 6px solid #D57A66;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &:nth-of-type(1){
                height: 420px;
                width: 40%;
                background: url('../images/um.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(2){
                height: 500px;
                width: 32%;
                background: url('../images/dois.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(3){
                height: 300px;
                width: 20%;
                background: url('../images/tres.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
        }
    }
    .M-mid{
        // background-color: bisque;
        display: flex;
        padding: 1em;
        justify-content: space-between;
        @include media('<=phone'){
            // border: 2px solid red;
            flex-direction: column;
            padding: 0;
        }
        a{
            background-color: white;
            // box-shadow: -1px .6px 10px 6px #D57A66;
            transition: .2s linear;
            // border: 6px solid #D57A66;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &:nth-of-type(1){
                height: 500px;
                width: 25%;
                background: url('../images/jornal.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(2){
                height: 420px;
                width: 40%;
                background: url('../images/cinco.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(3){
                height: 600px;
                width: 20%;
                background: url('../images/seis.jpeg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
        }
    }
    .M-bot{
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        @include media('<=phone'){
            // border: 2px solid red;
            flex-direction: column;
            padding: 0;
        }
        a{
            background-color: white;
            // box-shadow: -1px .7px 9px -6px black;
            transition: .2s linear;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &:nth-of-type(1){
                height: 300px;
                width: 30%;
                background: url('../images/arte.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(2){
                height: 600px;
                width: 30%;
                background: url('../images/oito.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(3){
                height: 400px;
                width: 26%;
                background: url('../images/dez.jpeg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
        }
    }
    .M-last{
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        padding: 2em;
        @include media('<=phone'){
            // border: 2px solid red;
            flex-direction: column;
            // padding: 0;
        }
        a{
            background-color: white;
            // box-shadow: -1px .7px 9px -4px black;
            transition: .2s linear;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &:nth-of-type(1){
                height: 500px;
                width: 26%;
                background: url('../images/nove2.png');
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                    background-position: center;
                }
            }
            &:nth-of-type(2){
                height: 280px;
                width: 30%;
                background: url('../images/onze.jpeg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                }
            }
            &:nth-of-type(3){
                height: 420px;
                width: 30%;
                background: url('../images/doze.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                    margin-top: .6em;
                }
            }
        }
    }
    .M-real-last{
        // background-color: aquamarine;
        display: flex;
        justify-content: space-between;
        padding: 2em;
        @include media('<=phone'){
            // border: 2px solid red;
            flex-direction: column;
            // padding: 0;
        }
        a{
            background-color: white;
            // box-shadow: -1px .7px 9px -4px black;
            transition: .2s linear;
            cursor: pointer;
            &:hover{
                transform: scale(1.02);
            }
            &:nth-of-type(1){
                height: 500px;
                width: 60%;
                background: url('../images/treze.png');
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;
                @include media('<=phone'){
                    // border: 2px solid red;
                    width: 100%;
                    background-position: center;
                }
            }
        }
    }
}