@import './Breakpoints.scss';

.P-wrapper{
    // border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    @include media('<=phone'){
        // border: 2px solid red;
        flex-direction: column;
        padding: 0;
    }
    .P-left{
        display: flex;
        width: 45%;
        @include media('<=phone'){
            // border: 2px solid red;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        img{
            width: auto;
        }
    }
    .P-right{
        // border: 2px solid greenyellow;
        display: flex;
        flex-direction: column;
        width: 40%;
        @include media('<=phone'){
            // border: 2px solid red;
            width: 100%;
        }
        .P-title{
            font-size: 1.8em;
            color: #D57A66;
            @include media('<=phone'){
                // border: 2px solid red;
                font-size: 1.65em;
            }
        }
        h4{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: underline;
            color: #D57A66;
            font-size: 1.4em;
            @include media('<=phone'){
                // border: 2px solid red;
                font-size: 1.1em;
            }
        }
        p{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.2em;
            color: #FBF5F3;
            @include media('<=phone'){
                // border: 2px solid red;
                font-size: .9em;
            }
        }
    }
    a{
        text-decoration: none;
        color: #FBF5F3;
        margin-bottom: 2em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}